/* CreateArticle.css */
.CreateArticle {
  background: linear-gradient(to right, #f3eeed, #90a5c4); /* Blue gradient */
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.container {
  /*max-width: 800px;*/
  margin: auto;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
}

.logo {
  color: #004aad;
  margin-right: 10px;
  text-align:left;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.smalltext {
  color:black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
  color: #004aad;
  text-align: center;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.form-group {
  margin-bottom: 15px;
}

.form-control {
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.btn {
  border-radius: 5px;
}

.btn-outline-warning {
  color: #ffc107;
  border-color: #ffc107;
}

.btn-outline-warning:hover {
  background-color: #ffc107;
  color: white;
}