/* CreateArticle.css */
.CreateArticle {
  background: linear-gradient(to right, #f3eeed, #90a5c4); /* Blue gradient */
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.container {
  /*max-width: 800px;*/
  margin: auto;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.logo-container {
  display: flex;
  align-items: center; /* Aligns items vertically in the center */
}

.logo {
  color: #004aad;
  margin-right: 10px;
  text-align:left;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.smalltext {
  color:black;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.title {
  color: #004aad;
  text-align: center;
  font-weight: bold;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.form-background {
  background-color: rgba(255, 255, 255, 0.397); /* White background with 50% transparency */
  padding: 20px; /* Optional padding */
  border-radius: 10px; /* Optional rounded corners */
}

.form-group {
  margin-bottom: 15px;
}

.form-control {
  border: none;
  border-radius: 5px;
  padding: 10px;
  background-color: #90a5c4;
}

.btn {
  border-radius: 5px;
}

.btn-outline-warning {
  color: black;
  border-width: 4px; /* Ensure the border is visible */
  border-style: solid;
  border-image: linear-gradient(to left, #f3eeed, #90a5c4) 1; /* Blue gradient border */
  --bs-btn-active-bg: white;
}

.btn-outline-warning:hover {
  background-color: #90a5c4;
  color: black;
  border-image: linear-gradient(to left, #f3eeed, #90a5c4) 1; /* Keep the gradient the same on hover */
}


